<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AMITY UNIVERSITY EVENTS</title>
    <link rel="stylesheet" href="amity.css" />
  </head>
  <body>
    <div class="event">
      <h1>EVENTS AT NIMS UNIVERSITY JAIPUR</h1>
      <hr />
      <div class="first">
        <h1>TECH EVENTS</h1>
      </div>
      <div class="tech">
        <div class="img">
          <div id="head1">
            <h1>TECH EVENTS</h1>
          </div>
        </div>
        <div class="tech2">
          <div class="item1">
            <div class="list2">
              <div class="heading">
                <h2>6-7 April<br /><span> 2023</span></h2>
              </div>
            </div>
            <div class="list3">
              <h3>The Whack-Hack-A-Thon</h3>
              <p>
                <b>Description:</b> : The event aimed to identify the top
                programmers and problem solvers in the community, providing them
                with an opportunity to showcase their talent and win awards and
                e-certificates.
              </p>
              <a
                href=" https://www.amity.edu/jaipur/event-detail-normal.aspx?Event=12878"
                >Whack-Hack-A-Thon</a
              >
            </div>
          </div>

          <div class="item2">
            <div class="list2">
              <div class="heading">
                <h2>15 April<br /><span> 2023</span></h2>
              </div>
            </div>
            <div class="list3">
              <h3>Game-It-On Valorant 2.O</h3>
              <p>
                <b>Description:</b> The purpose of event was to provide everyday
                gamer with a place to compete in a fun, friendly and exciting
                environment. Including participants and audience approx.
              </p>
              <a
                href="https://www.amity.edu/gurugram/events/12900/admission-procedure-domestic.aspx"
                >Game-It-On Valorant 2.O</a
              >
            </div>
          </div>

          <div class="item3">
            <div class="list2">
              <div class="heading">
                <h2>5 Oct<br /><span> 2023</span></h2>
              </div>
            </div>
            <div class="list3">
              <h3>Data Entry and Data Analysis using Statistical Software</h3>
              <p>
                <b>Description:</b> : The resource person explained the software
                in practical way by how to generate the variables; how to label
                them; how to rename and recode the variables. Further, the
                expert shows how to combine different datasets and import data
                from various forms.
              </p>

              <a href=" https://www.amity.edu/events/eventdetails.asp?id=13317">
                Data Entry and Data Analysis using Statistical Software
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="mid">
        <h1>CULTRAL EVENTS</h1>
      </div>
      <div class="cultral">
        <div class="img">
          <div id="head2">
            <h1>CULTRAL EVENTS</h1>
          </div>
        </div>
        <div class="tech5">
          <div class="item1">
            <div class="list2">
              <div class="heading">
                <h2>1 March<br /><span> 2023</span></h2>
              </div>
            </div>
            <div class="list3">
              <h3>AMITY NATIONAL ART FEST</h3>
              <p>
                <b>Description:</b> Amity School of Fine Arts invited artist
                from all around the nation where students got opportunity to
                interact with them in Amity University, Rajasthan.
              </p>
              <a
                href=" https://www.amity.edu/jaipur/event-detail-normal.aspx?Event=12790"
                >AMITY NATIONAL ART FEST
              </a>
            </div>
          </div>

          <div class="item3">
            <div class="list2">
              <div class="heading">
                <h2>13 April<br /><span> 2023</span></h2>
              </div>
            </div>
            <div class="list3">
              <h3>Shabd- Vyuh</h3>
              <p>
                <b>Description:</b>The event was based on format of Asian
                Parliamentary debate which consisted of four rounds.
              </p>
              <a
                href=" https://www.amity.edu/jaipur/event-detail-normal.aspx?Event=12840"
                >Shabd- Vyuh
              </a>
            </div>
          </div>
          <div class="item3">
            <div class="list2">
              <div class="heading">
                <h2>11 May<br /><span> 2023</span></h2>
              </div>
            </div>
            <div class="list3">
              <h3>Awareness campaign on Nyaya Bandhu and tele Law</h3>
              <p>
                <b>Description:</b>Pro Bono Club, along with the legal aid
                committee, Amity Law School, Amity University Rajasthan, under
                the Nyaya Bandhu scheme of the Department of Justice, Govt. of
                India,
              </p>
              <a
                href=" https://www.amity.edu/jaipur/event-detail-normal.aspx?Event=12953"
                >Awareness campaign on Nyaya Bandhu and tele Law
              </a>
            </div>
          </div>
          <div class="item3">
            <div class="list2">
              <div class="heading">
                <h2>30 Nov<br /><span> 2023</span></h2>
              </div>
            </div>
            <div class="list3">
              <h3>Shabd Yudh" National Debate competition</h3>
              <p>
                <b>Description:</b>Sponsored by ASV LEGAL LLP, a well
                established law firm in Delhi Over 24 teams, 48, participants
                registered from various states like Delhi, Gujrat, Haryana etc.
                Event comprised of 4 rounds which was judged by legal
                luminaries.
              </p>
              <a
                href="https://www.amity.edu/jaipur/event-detail-normal.aspx?Event=13452 "
                >Shabd Yudh" National Debate competition
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="last">
        <h1>SEMINARS SESSIONS</h1>
      </div>
      <div class="seminar">
        <div class="img">
          <div id="head3">
            <h1>SEMINARS</h1>
          </div>
        </div>
        <div class="tech5">
          <div class="item1">
            <div class="list2">
              <div class="heading">
                <h2>10 Aug<br /><span> 2023</span></h2>
              </div>
            </div>
            <div class="list3">
              <h3>Guest lecture on Financial Management</h3>
              <p>
                <b> Description:</b> The students learned about the various
                methods and parameters to decide revenue in the Food and
                beverage department and also the room division department.
              </p>
              <a href="https://www.amity.edu/events/eventdetails.asp?id=13160 "
                >Guest lecture on Financial Management
              </a>
            </div>
          </div>

          <div class="item3">
            <div class="list2">
              <div class="heading">
                <h2>17 Aug<br /><span> 2023</span></h2>
              </div>
            </div>
            <div class="list3">
              <h3>Community Outreach session</h3>
              <p>
                <b>Description:</b>The event was organized to spread awareness
                about common childhood related behavioural issues in teachers of
                the higher primary school.
              </p>
              <a
                href="https://www.amity.edu/jaipur/event-detail-normal.aspx?Event=13197"
              >
                Community Outreach session</a
              >
            </div>
          </div>

          <div class="item2">
            <div class="list2">
              <div class="heading">
                <h2>27 Sep<br /><span> 2023</span></h2>
              </div>
            </div>
            <div class="list3">
              <h3>
                International Seminar on Role of Food in Green Tourism
                Promotion'23
              </h3>
              <p>
                <b>Description:</b> Motivated the students for their active
                participation in this type of events so that they get exposure
                to academic & industry integration.
              </p>
              <a
                href="https://www.amity.edu/jaipur/event-detail-normal.aspx?Event=13288"
                >International Seminar on Role of Food in Green Tourism
                Promotion</a
              >
            </div>
          </div>

          <div class="item3">
            <div class="list2">
              <div class="heading">
                <h2>19 Oct<br /><span> 2023</span></h2>
              </div>
            </div>
            <div class="list3">
              <h3>
                International Conference on Revisiting, History, Ethnicity and
                Myth in Literature
              </h3>
              <p>
                <b>Description:</b>The International Conference aimed at
                revisiting the existing texts related to History, Ethnicity,
                myth and their role in literature of present and past.
              </p>
              <a
                href="https://www.amity.edu/jaipur/event-detail-normal.aspx?Event=13494"
              >
                International Conference on Revisiting, History, Ethnicity and
                Myth in Literature</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
