<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bits Pilani</title>
    <link rel="stylesheet" href="bits.css">
</head>
<body>
    
    <div class="event">
        <h1>EVENTS AT BITS PILANI</h1>
        <hr />
        <div class="first">
          <h1>TECH EVENTS</h1>
        </div>
        <div class="tech">
          <div class="img">
            <div id ="head1">
              <h1>TECH EVENTS</h1>
            </div>
          </div>
          <div class="tech2">


            <div class="item3">
                <div class="list2">
                    <div class="heading">
                  <h2>18 Aug<br><span> 2023</span>
                  </h2>
                    </div>
                  </div>
                  <div class="list3">
                    <h3> Virtual talk on Crossing the Chasm: Scaling the Innovations</h3>
                    <p><b>Description:</b>BITS-TEC Innovation series will cover various aspects of innovation management, technology by eminent speakers. The current theme on Scaling Innovations will cover three talks on Technology Assessment Framework and journey of scaling innovations through case studies on design, development and deployment of innovations. 
                     
                      </p>
                    <a href="https://www.bits-pilani.ac.in/tec/"> Virtual talk on crossing the innovations</a>
                  
                  </div>
              </div>
            
            <div class="item3">
                <div class="list2">
                    <div class="heading">
                  <h2>1 Sep<br><span> 2023</span>
                  </h2>
                    </div>
                  </div>
                  <div class="list3">
                    <h3>Navigating the intellectual property minefield</h3>
                    <p><b>Description:</b> A hands-on workshop on prior art, patent search, and claims drafting.
                      
                      </p>
                     
                    <a href="https://www.bits-pilani.ac.in/tec/"> A hands on workshop </a>
                 
                  </div>
              </div>
           
            <div class="item1">
              <div class="list2">
                <div class="heading">
              <h2>1 Oct<br><span> 2023</span>
              </h2>
                </div>
              </div>
              <div class="list3">
                <h3>VDAT-2023</h3>
                <p><b>Description:</b>: VLSI Design & Test Symposium (VDAT) promotes research and development in various fields of VLSI Design.
                    </p>
                <a href=" https://discovery.bits-pilani.ac.in/VDAT2023/">VDAT-2023 | BITS-Pilani</a>
              
              </div>
            </div>
  

           
           
           
  
              <div class="item1">
                <div class="list2">
                  <div class="heading">
                <h2>4-7 April<br><span> 2024</span>
                </h2>
                  </div>
                </div>
                <div class="list3">
                  <h3>Apogee'24:The tech fest </h3>
                  <p><b>Description:</b> BITS PILANI : the annual technical extravaganza the time as a celestial epiphany!apogee a unique blend of technology ,innovation,and insiparation gathers the brightest minds worldwide.
                      </p>
                  <a href=" https://bits-apogee.org/">Apogee'2024</a>
                
                </div>
              </div>
    
           
            
           
  
          </div>
        </div>
  <div class="mid">
    <h1>CULTRAL EVENTS</h1>
  </div>
        <div class="cultral">
          <div class="img">
            <div id="head2">
              <h1>CULTRAL EVENTS</h1>
            </div>
          </div>
          <div class="tech5">

            <div class="item3">
                <div class="list2">
                    <div class="heading">
                  <h2>27-31 Oct<br><span> 2023</span>
                  </h2>
                    </div>
                  </div>
                  <div class="list3">
                    <h3>Oasis-2023,cultural fest</h3>
                    <p><b>Description:</b>oasis, the annual cultural extravaganza of birla institute of technology and science, it's a dazzling showcase of talent in dance, drama, literature, comedy, fashion, and music. it's where dreams come alive, laughter fills the air, and creativity knows no bounds.
                      </p>
                    <a href="https://bits-oasis.org/">Oasis'23</a>
                  
                  </div>
              </div>

              <div class="item3">
                <div class="list2">
                    <div class="heading">
                  <h2>2-4 Nov<br><span> 2023</span>
                  </h2>
                    </div>
                  </div>
                  <div class="list3">
                    <h3>ICSE 2023</h3>
                    <p><b>Description:</b>: The 3rd International Conference on Sports Engineering (ICSE 2023) is organised by the Sports Engineering Association (SEA), India jointly with Birla Institute of Technology and Science (BITS) Pilani, with support from International Sports Engineering Association (ISEA).
                      </p>
                    <a href="https://www.sportsengineering.org/3rd-international-conference-on-sports-engineering/">ICSE 2023 </a>
                  
                  </div>
              </div>

            <div class="item2">
                <div class="list2">
               <div class="heading">
             <h2>27-29 Jan<br><span> 2024</span>
             </h2>
               </div>
             </div>
             <div class="list3">
               <h3>How to improve your Research skills</h3>
               <p><b>Description:</b> : Resource Person: Prof.N Sundararajan(Retd.) School of Electrical & Electronic Engineering,Nanyang Technological University,Singapore
                Research Preparartion and planning.
                </p>
               <a href="https://www.bits-pilani.ac.in/event/a-workshop-on-how-to-improve-your-research-skills/">A Workshop on How to Improve Your Research Skills</a>
             
             </div>
           </div>
            
  
            
            
           
          
           
       </div>
       </div>
                
  
  <div class="last">
    <h1>SEMINARS SESSIONS</h1>
  </div>
       <div class="seminar">
        <div class="img">
          <div id ="head3">
            <h1>SEMINARS</h1>
          </div>
        </div>
        <div class="tech5">
         
             
          <div class="item3">
            <div class="list2">
                <div class="heading">
              <h2>26-28 Feb<br><span> 2024</span>
              </h2>
                </div>
              </div>
              <div class="list3"><h3>3rd International conference on ACSGE
                    </h3>
                <p><b>Description:</b>Recent advances in concrete science, structural and geotechnical materials, computational and experimental techniques, and the gradual diffusion of certain interdisciplinary areas with structural mechanics and engineering as well as geotechnical engineering have nearly revolutionized. 
                 
                  </p>
                <a href="https://web.bits-pilani.ac.in/pilani/ACSGE2024/Conference">International conference on ACSGE</a>
              
              </div>
          </div>
  
  
          <div class="item2">
            <div class="list2">
           <div class="heading">
         <h2>7-9 March<br><span> 2024</span>
         </h2>
           </div>
         </div>
         <div class="list3">
          <h3>Intenational Conference on INNOVATE 2024
            </h3>
           <p><b>Description:</b> This conference will address the global challenges and current trends for NCDs, emphasizing diabetes and complications, CVDs, CKD, CRDs, cancer, and neurodegenerative disorders.  </p>
           <a href="https://events.iitj.ac.in/fmfp2023/Broucher/FMFP2023%20Conference%20Booklet.pdf">International conference-2024</a>
         
         </div>
       </div>
         
  
      
     </div>
     </div>
  
           
      </div>
</body>
</html>
