<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EVENTS PAGE</title>
    <link rel="stylesheet" href="event.css" />
  </head>
  <body>
    <div class="event">
      <h1>EVENTS AT LNMIIT JAIPUR</h1>
      <hr />
      <div class="first">
        <h1>TECH EVENTS</h1>
      </div>
      <div class="tech">
        <div class="img">
          <div id="head1">
            <h1>TECH EVENTS</h1>
          </div>
        </div>
        <div class="tech2">
          <div class="item1">
            <div class="list2">
              <div class="heading">
                <h2>27-29 Jan<br /><span> 2023</span></h2>
              </div>
            </div>
            <div class="list3">
              <h3>PLINTH: The annual fest</h3>
              <p>
                <b>Description:</b> Plinth, the annual Tech-Fest of The LNMIIT,
                Jaipur, India's first Web3 based College Tech fest, stretches
                for three heart-throbbing days.
              </p>
              <a href=" https://plinth.co.in/aboutus">PLINTH'23</a>
            </div>
          </div>

          <div class="item2">
            <div class="list2">
              <div class="heading">
                <h2>25 May<br /><span> 2023</span></h2>
              </div>
            </div>
            <div class="list3">
              <h3>HACK THE WASTE : The ideation hackathon</h3>
              <p>
                <b>Description:</b> Driven by the message of Mission Life and
                circular economy goals LNMIIT and RSPCB have announced an online
                Ideation Hackathon on Hack the Waste that calls for innovative
                solutions for Circularity in Plastic and E-waste. Incubation
                support for best ideas.
              </p>
              <a
                href=" https://lnmiit.ac.in/events/hack-the-waste-ideation-hackathon/"
                >Hack the waste ideation hackathon</a
              >
            </div>
          </div>

          <div class="item3">
            <div class="list2">
              <div class="heading">
                <h2>2-4 Feb<br /><span> 2024</span></h2>
              </div>
            </div>
            <div class="list3">
              <h3>Esummit'24</h3>
              <p>
                <b>Description:</b> An electrifying extravaganza of innovation,
                entrepreneurship, and networking.
              </p>

              <a
                href=" https://lnmiit.ac.in/events/e-summit24-is-finally-here-at-lnmiit-jaipur/"
              >
                E-Summit'24
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="mid">
        <h1>CULTRAL EVENTS</h1>
      </div>
      <div class="cultral">
        <div class="img">
          <div id="head2">
            <h1>CULTRAL EVENTS</h1>
          </div>
        </div>
        <div class="tech5">
          <div class="item1">
            <div class="list2">
              <div class="heading">
                <h2>26-28 Jan<br /><span> 2024</span></h2>
              </div>
            </div>
            <div class="list3">
              <h3>Desportivos:Annual Sports-Esports meet</h3>
              <p>
                <b>Description:</b> The largest sports meet of Rajasthan, an
                international arena for students from across the country and
                abroad to showcase their talents and facilitate cross-cultural
                learning experiences.
              </p>
              <a href=" https://desportivos.lnmiit.ac.in/"
                >Desportivos'24 (lnmiit.ac.in)
              </a>
            </div>
          </div>

          <div class="item3">
            <div class="list2">
              <div class="heading">
                <h2>9-11 Feb<br /><span> 2024</span></h2>
              </div>
            </div>
            <div class="list3">
              <h3>Vivacity-2024</h3>
              <p>
                <b>Description:</b>LNMIIT Vivacity 2024 for three days of
                non-stop fun, entertainment, and memories that will last a
                lifetime. See you there!
              </p>
              <a
                href=" https://lnmiit.ac.in/events/e-summit24-is-finally-here-at-lnmiit-jaipur/"
              >
                VIVACITY'24</a
              >
            </div>
          </div>
        </div>
      </div>

      <div class="last">
        <h1>SEMINARS SESSIONS</h1>
      </div>
      <div class="seminar">
        <div class="img">
          <div id="head3">
            <h1>SEMINARS</h1>
          </div>
        </div>
        <div class="tech5">
          <div class="item1">
            <div class="list2">
              <div class="heading">
                <h2>19 Feb<br /><span> 2023</span></h2>
              </div>
            </div>
            <div class="list3">
              <h3>ECHO :The alumni meet</h3>
              <p>
                <b> Description:</b> An interactive session in which alumnis
                talked about their experiences and director also highlighted the
                upcoming projects of the institute.
              </p>
              <a href="https://lnmiit.ac.in/alumni/ "
                >ECHO: Alumni Meet 2023
              </a>
            </div>
          </div>

          <div class="item3">
            <div class="list2">
              <div class="heading">
                <h2>16 Sep<br /><span> 2023</span></h2>
              </div>
            </div>
            <div class="list3">
              <h3>Alumni Meet 2023</h3>
              <p>
                <b>Description:</b>It brings us immense pleasure to invite you
                to the upcoming Alumni Meet, a wonderful opportunity for us to
                reconnect and meet our newly elected alumni council members,
                reminisce, and celebrate our shared experiences at LNMIIT.
              </p>
              <a href="https://alumni.lnmiit.ac.in/">
                LNMIIT: Alumni Meet 2023</a
              >
            </div>
          </div>

          <div class="item2">
            <div class="list2">
              <div class="heading">
                <h2>18-20 Dec<br /><span> 2023</span></h2>
              </div>
            </div>
            <div class="list3">
              <h3>Solidworks workshop MME Department'23</h3>
              <p>
                <b>Description:</b> Comprehensive curriculum covering sketching,
                part modeling, assembly design, and simulation using SolidWorks.
              </p>
              <a href=" https://lnmiit.ac.in/Department/MME/"
                >SolidWorks workshop at LNMIIT MME Department</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
