<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>IIT JODHPUR</title>
    <link rel="stylesheet" href="iitjodhour.css" />
  </head>
  <body>
    <div class="event">
      <h1>EVENTS AT IIT JODHPUR</h1>
      <hr />
      <div class="first">
        <h1>TECH EVENTS</h1>
      </div>
      <div id="tech">
        <div class="img">
          <div id="head1">
            <h1>TECH EVENTS</h1>
          </div>
        </div>
        <div class="tech2">
          <div class="item1">
            <div class="list2">
              <div class="heading">
                <h2>11 March<br /><span> 2023</span></h2>
              </div>
            </div>
            <div class="list3">
              <h3>
                WORKSHOP ON FIELD ROBOTICS JOINTLY ORGANIZED BY THE ROBOTICS
                SOCIETY
              </h3>
              <p>
                <b>Description:</b> The workshop will emphasize on bringing
                forward various problems and research opportunities in the area.
                It will focus on the following sub-areas of Field Robotics: 1.
                Underwater Robots 2. Space Robots
              </p>
              <a href=" https://events.iitj.ac.in/robotics2023/"
                >Workshop on robotics</a
              >
            </div>
          </div>

          <div class="item3">
            <div class="list2">
              <div class="heading">
                <h2>12-15 July<br /><span> 2023</span></h2>
              </div>
            </div>
            <div class="list3">
              <h3>
                National Workshop on Research Methodology in Fluid Mechanics
              </h3>
              <p>
                <b>Description:</b> The objective of the 8th national workshop
                is: -To provide a practical experience and hands on training on
                various flow and temperature visualization techniques.
              </p>

              <a href=" https://events.iitj.ac.in/fmfp2023/workshop.php">
                Workshop on Reserach Methodology in Fluid Mechanics
              </a>
            </div>
          </div>

          <div class="item3">
            <div class="list2">
              <div class="heading">
                <h2>24-26 July<br /><span> 2023</span></h2>
              </div>
            </div>
            <div class="list3">
              <h3>Workshop on Internet of Things and Applications</h3>
              <p>
                <b>Description:</b>Immerse yourself in the dynamic world of IoT,
                where cutting-edge technologies, visionary experts, and
                boundless possibilities converge.Unleash your potential, forge
                valuable connections, and be at the forefront of shaping the
                future.
              </p>
              <a
                href="https://iitj.ac.in/uploaded_docs/IoT%20and%20Applications%20Workshop%20Flyer_16082023.pd"
              >
                Not found</a
              >
            </div>
          </div>

          <div class="item1">
            <div class="list2">
              <div class="heading">
                <h2>19-21 Jan<br /><span> 2024</span></h2>
              </div>
            </div>
            <div class="list3">
              <h3>Prometeo 2024, Technical and Entrepreneurial Festival</h3>
              <p>
                <b>Description:</b> Deriving its name and vision from the Greek
                fore-thinker “Prometheus”, who imparted the knowledge of
                technology and civilization to humanity,It aspires to elevate
                innovation, channeling creative ideas towards an enhanced impact
                at the forefront of progress
              </p>
              <a href=" https://iitj.ac.in/archives/event_calender.php"
                >Prometeo'2024</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="mid">
        <h1>CULTRAL EVENTS</h1>
      </div>
      <div id="cultral">
        <div class="img">
          <div id="head2">
            <h1>CULTRAL EVENTS</h1>
          </div>
        </div>
        <div class="tech5">
          <div class="item3">
            <div class="list2">
              <div class="heading">
                <h2>30 Nov<br /><span> 2023</span></h2>
              </div>
            </div>
            <div class="list3">
              <h3>Virasat-2022 cultral heritage festival</h3>
              <p>
                <b>Description:</b>Virasat 2022, a vibrant celebration of Indian
                cultural heritage, is being hosted by the Indian Institute of
                Technology Jodhpur (IITJ) in collaboration with SPIC MACAY
              </p>
              <a href="https://iitj.ac.in/virasat/ ">VIRSAT'22</a>
            </div>
          </div>

          <div class="item2">
            <div class="list2">
              <div class="heading">
                <h2>23 March<br /><span> 2023</span></h2>
              </div>
            </div>
            <div class="list3">
              <h3>Ignus 2023, IIT Jodhpur, Social Cultural Fest,</h3>
              <p>
                <b>Description:</b> If you crave experiences, IGNUS is the place
                for you. Experience ecstasy and vibrance, vigour and vitality,
                fun and frolic. Get lost in the world of celebration. Come, join
                us and add colours of your uniqueness to this grand fest
              </p>
              <a href="https://www.ignus.co.in/">Ignus'23</a>
            </div>
          </div>

          <div class="item3">
            <div class="list2">
              <div class="heading">
                <h2>3-5 Nov<br /><span> 2023</span></h2>
              </div>
            </div>
            <div class="list3">
              <h3>Varchas Annual sports fest At IIT Jodhpur</h3>
              <p>
                <b>Description:</b>VARCHAS stands as the annual sports fest at
                IIT Jodhpur and holds the distinction of being the largest
                sorting event in North-West India.
              </p>
              <a
                href=" https://jaipur.manipal.edu/muj/news-events/events-list/harmony-within--healing-rhythms-of-indian-classical-dance.html"
                >Harmony within
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="last">
        <h1>SEMINARS SESSIONS</h1>
      </div>
      <div id="seminar">
        <div class="img">
          <div id="head3">
            <h1>SEMINARS</h1>
          </div>
        </div>
        <div class="tech5">
          <div class="item1">
            <div class="list2">
              <div class="heading">
                <h2>7-9 Dec<br /><span> 2023</span></h2>
              </div>
            </div>
            <div class="list3">
              <h3>11th National conference</h3>
              <p>
                <b> Description:</b> . It is a place where they can share their
                perspectives, personal experiences, and innovative teaching
                practices. TIME 2023 will be the 11th edition in this series.
                For more details:-
              </p>
              <a href="https://sites.google.com/view/time2023/home "
                >National conference
              </a>
            </div>
          </div>

          <div class="item3">
            <div class="list2">
              <div class="heading">
                <h2>11-14 Dec<br /><span> 2023</span></h2>
              </div>
            </div>
            <div class="list3">
              <h3>
                Eighth International Conference on Solidification Science and
                Processing
              </h3>
              <p>
                <b>Description:</b> Due to the Pandemic, the 8th conference in
                the series got postponed and is being held in Jodhpur from
                December 11-14, 2023. It is jointly being organized by IIT
                Jodhpur and IIT Hyderabad at The Ummed Jodhpur, Palace Resort.
              </p>
              <a href="https://events.iitj.ac.in/ICSSP8/"
                >International Conference on Solidification Science and
                Processing</a
              >
            </div>
          </div>

          <div class="item2">
            <div class="list2">
              <div class="heading">
                <h2>20-22 Dec<br /><span> 2024</span></h2>
              </div>
            </div>
            <div class="list3">
              <h3>
                International and 50th National Conference ON FLUID MECHANICS
                AND FLUID POWER
              </h3>
              <p>
                <b>Description:</b> The 10th International and 50th National
                Conference on Fluid Mechanics and Fluid Power (FMFP- 2023) is
                being held at the Indian Institute of Technology Jodhpur, India
                during December 20-22, 2023.
              </p>
              <a
                href="https://events.iitj.ac.in/fmfp2023/Broucher/FMFP2023%20Conference%20Booklet.pdf"
                >International and National conference-2023</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
