<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JECRC</title>
    <link rel="stylesheet" href="jecrc.css" />
  </head>
  <body>
    <div class="event">
      <h1>EVENTS AT JECRC UNIVERSITY JAIPUR</h1>
      <hr />
      <div class="first">
        <h1>TECH EVENTS</h1>
      </div>
      <div class="tech">
        <div class="img">
          <div id="head1">
            <h1>TECH EVENTS</h1>
          </div>
        </div>
        <div class="tech2">
          <div class="item1">
            <div class="list2">
              <div class="heading">
                <h2>27-29 Jan<br /><span> 2023</span></h2>
              </div>
            </div>
            <div class="list3">
              <h3>PLINTH: The annual fest</h3>
              <p>
                <b>Description:</b> Plinth, the annual Tech-Fest of The LNMIIT,
                Jaipur, India's first Web3 based College Tech fest, stretches
                for three heart-throbbing days.
              </p>
              <a href=" https://plinth.co.in/aboutus">PLINTH'23</a>
            </div>
          </div>

          <div class="item2">
            <div class="list2">
              <div class="heading">
                <h2>25 May<br /><span> 2023</span></h2>
              </div>
            </div>
            <div class="list3">
              <h3>HACK THE WASTE : The ideation hackathon</h3>
              <p>
                <b>Description:</b> Driven by the message of Mission Life and
                circular economy goals LNMIIT and RSPCB have announced an online
                Ideation Hackathon on Hack the Waste that calls for innovative
                solutions for Circularity in Plastic and E-waste. Incubation
                support for best ideas.
              </p>
              <a
                href=" https://lnmiit.ac.in/events/hack-the-waste-ideation-hackathon/"
                >Hack the waste ideation hackathon</a
              >
            </div>
          </div>

          <div class="item3">
            <div class="list2">
              <div class="heading">
                <h2>2-4 Feb<br /><span> 2024</span></h2>
              </div>
            </div>
            <div class="list3">
              <h3>Esummit'24</h3>
              <p>
                <b>Description:</b> An electrifying extravaganza of innovation,
                entrepreneurship, and networking.
              </p>

              <a
                href=" https://lnmiit.ac.in/events/e-summit24-is-finally-here-at-lnmiit-jaipur/"
              >
                E-Summit'24
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="mid">
        <h1>CULTRAL EVENTS</h1>
      </div>
      <div class="cultral">
        <div class="img">
          <div id="head2">
            <h1>CULTRAL EVENTS</h1>
          </div>
        </div>
        <div class="tech5">
          <div class="item1">
            <div class="list2">
              <div class="heading">
                <h2>23 Aug<br /><span> 2023</span></h2>
              </div>
            </div>
            <div class="list3">
              <h3>National Moot Court Competition</h3>
              <p>
                <b>Description:</b> Three-day National Moot Court Competition of
                NIMS University Rajasthan in association with Bar Council of
                India Trust.
              </p>
              <a href=" https://law.nimsuniversity.org/"
                >National Moot Court Competition
              </a>
            </div>
          </div>

          <div class="item3">
            <div class="list2">
              <div class="heading">
                <h2>11 Sep <br /><span> 2023</span></h2>
              </div>
            </div>
            <div class="list3">
              <h3>
                Divya Khosla Kumar, Pearl V Puri, and Meezaan Jafri unleash
                ‘Yaariyan 2’ magic
              </h3>
              <p>
                <b>Description:</b>The highlight of the event was the
                mesmerizing performance by the students of Nims University
                alongside the star cast of ‘Yaariyan 2.’
              </p>
              <a
                href=" https://nimsuniversity.org/news/yaariyan-2-movie-promotion-at-nims-university/"
              >
                Promotion of Yaariyan 2.</a
              >
            </div>
          </div>
          <div class="item3">
            <div class="list2">
              <div class="heading">
                <h2>29 Jan<br /><span> 2024</span></h2>
              </div>
            </div>
            <div class="list3">
              <h3>Promotion event</h3>
              <p>
                <b>Description:</b>Bollywood stars, Shahid Kapoor and Kriti
                Sanon enthralled the Campus with their vibrant promotion event
              </p>
              <a
                href="https://nimsuniversity.org/news/bollywood-stars-shahid-kapoor-and-kriti-sanon-enthralled-the-campus-with-their-vibrant-promotion-event/ "
              >
                Promotion event
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="last">
        <h1>SEMINARS SESSIONS</h1>
      </div>
      <div class="seminar">
        <div class="img">
          <div id="head3">
            <h1>SEMINARS</h1>
          </div>
        </div>
        <div class="tech5">
          <div class="item1">
            <div class="list2">
              <div class="heading">
                <h2>14 July<br /><span> 2023</span></h2>
              </div>
            </div>
            <div class="list3">
              <h3>
                Knowledge Session on “Writing Proposals for Translational
                Research and Entrepreneurship.
              </h3>
              <p>
                <b> Description:</b>The event was conducted in collaboration
                with the esteemed Foundation for Innovation and Technology
                Transfer (FITT), IIT Delhi. The programme was graced by Dr.
                Pratima Chaudhury, Project Scientist, FITT- IIT Delhi.
              </p>
              <a
                href="https://nimsuniversity.org/news/translational-research-and-entrepreneurship/ "
                >Knowledge Session on “Writing Proposals for Translational
                Research .
              </a>
            </div>
          </div>

          <div class="item3">
            <div class="list2">
              <div class="heading">
                <h2>22-23 Sep<br /><span> 2023</span></h2>
              </div>
            </div>
            <div class="list3">
              <h3>PEDALLERCON 2023</h3>
              <p>
                <b>Description:</b>The conference featured discussions and
                workshops on a variety of topics, with the primary focus on a
                green environment and healthy children, environmental pollution
                and allergies, intranasal corticosteroids
              </p>
              <a href="https://alumni.lnmiit.ac.in/">
                LNMIIT: Alumni Meet 2023</a
              >
            </div>
          </div>

          <div class="item2">
            <div class="list2">
              <div class="heading">
                <h2>18-20 Dec<br /><span> 2023</span></h2>
              </div>
            </div>
            <div class="list3">
              <h3>
                2nd Annual Conference of Indian Association of Medical
                Microbiologists
              </h3>
              <p>
                <b>Description:</b> The theme of the Rajasthan Microcon 2023
                conference was Microbe: Invisible to Invincible.
              </p>
              <a
                href="https://nimsuniversity.org/news/2nd-annual-conference-of-the-indian-association-of-medical-microbiologists/"
                >Annual Conference</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
