<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jiet jodhpur</title>
    <link rel="stylesheet" href="jiet.css">
</head>
<body>
    
    <div class="event">
        <h1>EVENTS AT JIET JODHPUR</h1>
        <hr />
        <div class="first">
          <h1>TECH EVENTS</h1>
        </div>
        <div class="tech">
          <div class="img">
            <div id ="head1">
              <h1>TECH EVENTS</h1>
            </div>
          </div>
          <div class="tech2">

            <div class="item3">
                <div class="list2">
                    <div class="heading">
                  <h2>23 Feb<br><span> 2024</span>
                  </h2>
                    </div>
                  </div>
                  <div class="list3">
                    <h3>Resonance Annual Fest'24</h3>
                    <p><b>Description:</b>:Resonance is a techno-cultural festival organized by the jiet Group of Institutions that provide a platform for students to showcase their talents
                        and creativity in various cultural, technical, events. 
                      
                      </p>
                    <a href=" https://resonance2k24.jietjodhpur.ac.in/">Resonance anuual fest2024 </a>
                  
                  </div>
              </div>


            
              <div class="item3">
                <div class="list2">
                    <div class="heading">
                  <h2>8-10 Aug<br><span> 2023</span>
                  </h2>
                    </div>
                  </div>
                  <div class="list3">
                    <h3>Prayas Open House </h3>
                    <p><b>Description:</b>As we all were aware, this event was organized to provide prospective students with an opportunity to explore our achievements, Laboratories, Workshops, 
                        and other infrastructures so that students could gain insights into our academic programs and campus life. 
                      
                      </p>
                    <a href="https://www.jietjodhpur.ac.in/events#prayas-open-house">Prayas open house</a>
                  
                  </div>
              </div>


            <div class="item3">
                <div class="list2">
                    <div class="heading">
                  <h2>18-19 March<br><span> 2023</span>
                  </h2>
                    </div>
                  </div>
                  <div class="list3">
                    <h3> Hackathon (RECKON) </h3>
                    <p><b>Description:</b> RECKON 4.0, an esteemed 36-hour national hackathon. The competition unfolded in two stages. The initial stage comprised an online contest, while the latter was an in-person event at the JIET campus. 
                        From 190 project submissions, 100 teams advanced to the final stage. 
                      
                     
                      </p>
                    <a href="https://www.jietjodhpur.ac.in/events#hackathon">Hackathon (RECKON)'23 </a>
                  
                  </div>
              </div>
            
            

           
           
           
  
              
           
            
           
  
          </div>
        </div>
  <div class="mid">
    <h1>CULTRAL EVENTS</h1>
  </div>
        <div class="cultral">
          <div class="img">
            <div id ="head2">
              <h1>CULTRAL EVENTS</h1>
            </div>
          </div>
          <div class="tech5">

            <div class="item3">
                <div class="list2">
                    <div class="heading">
                  <h2>19 April<br><span> 2023</span>
                  </h2>
                    </div>
                  </div>
                  <div class="list3">
                    <h3>SPIC MACAY 2023</h3>
                    <p><b>Description:</b>: Universe hosted the distinguished SPIC MACAY Shruti Amrat event on the 29th and 30th of April at their Jodhpur campus, underscoring the depth of Indian 
                        classical art. This collaboration with JIET University offered a singular platform showcasing maestros like T. H. Vinayakram, Selvaganesh Vinayakram, Teejan Bai, 
                        and Hari Prasad Chaurasia.
                      </p>
                    <a href="https://www.jietjodhpur.ac.in/spic-macay-2023">SPIC MACAY 2023 </a>
                  
                  </div>
              </div>

            <div class="item3">
                <div class="list2">
                    <div class="heading">
                  <h2>10-11 Aug<br><span> 2023</span>
                  </h2>
                    </div>
                  </div>
                  <div class="list3">
                    <h3>Superchef </h3>
                    <p><b>Description:</b>AJodhpur is going to witness a grand show and their own Masterchef. If you love experimenting in your kitchen, it will be an excellent experience to be a part of this show, even if you cook as a hobby. 
                      
                      </p>
                    <a href="https://www.jietjodhpur.ac.in/school-of-hotal-management/superchef-junior">Prayas open house</a>
                  
                  </div>
              </div>

             

              
  
            
            
           
          
           
       </div>
       </div>
                
  
  <div class="last">
    <h1>SEMINARS SESSIONS</h1>
  </div>
       <div class="seminar">
        <div class="img">
          <div id="head3">
            <h1>SEMINARS</h1>
          </div>
        </div>
        <div class="tech5">
         
             
          <div class="item3">
            <div class="list2">
                <div class="heading">
              <h2>11 feb<br><span> 2023</span>
              </h2>
                </div>
              </div>
              <div class="list3"><h3>Start-up Meet
                    </h3>
                <p><b>Description:</b> We are pleased to share that Jodhpur Institute of Engineering and Technology, Jodhpur, conducted the "Jodhpur Start-up Business Meet," Jodhpur. 
                    Start-up cases these days in Rajasthan are stepping forward, and it would not be an exaggeration to say that Jodhpur's participation in this can be written in 
                    golden letters.
                 
                  </p>
                <a href="https://www.jietjodhpur.ac.in/events#start-up-meet">Start up meet</a>
              
              </div>
          </div>
  
  
         
  
      
     </div>
     </div>
  
           
      </div>
</body>
</html>



  