<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MANIPAL JAIPUR</title>
    <link rel="stylesheet" href="muj.css" />
  </head>
  <body>
    <div class="event">
      <h1>EVENTS AT MANIPAL UNIVERSITY JAIPUR</h1>
      <hr />
      <div class="first">
        <h1>TECH EVENTS</h1>
      </div>
      <div class="tech">
        <div class="img">
          <div id="head1">
            <h1>TECH EVENTS</h1>
          </div>
        </div>
        <div class="tech2">
          <div class="item1">
            <div class="list2">
              <div class="heading">
                <h2>16-17 March<br /><span> 2023</span></h2>
              </div>
            </div>
            <div class="list3">
              <h3>
                2-day Industrial Training on RapidMiner tool under the Altair
                Data Analytics Tools
              </h3>
              <p>
                <b>Description:</b> School of Information Technology (SIT),
                Faculty of Engineering, Manipal University Jaipur is organizing
                a 2-day Industrial Training of students and faculty on
                RapidMiner tool under the Altair Data Analytics Tools
              </p>
              <a
                href=" https://jaipur.manipal.edu/muj/news-events/events-list/rapidminer-tool-under-the-altair-data-analytics-tools.html"
                >2-Day industrial training on rapidminer</a
              >
            </div>
          </div>

          <div class="item3">
            <div class="list2">
              <div class="heading">
                <h2>24-26 July<br /><span> 2023</span></h2>
              </div>
            </div>
            <div class="list3">
              <h3>FDP on IoT and RPi</h3>
              <p>
                <b>Description:</b>The Department of Mechatronics Engineering,
                Manipal University Jaipur in association with MUJ-TEC is
                organizing an FDP on "IoT and RPi" from July 24-26, 2023.
              </p>
              <a
                href="https://jaipur.manipal.edu/muj/news-events/events-list/iot-and-rpi.html"
                >FDP on IOT
              </a>
            </div>
          </div>

          <div class="item3">
            <div class="list2">
              <div class="heading">
                <h2>22 Dec<br /><span> 2023</span></h2>
              </div>
            </div>
            <div class="list3">
              <h3>STUDENT IDEA CHALLENGE 2023</h3>
              <p>
                <b>Description:</b> To create awareness regarding Biotechnology,
                Chemical, and Civil Engineering and the exciting career
                opportunities therein, the Departments of Biotechnology &
                Chemical Engg and Civil Engg organize an Online Student Idea
                Challenge 2023.
              </p>

              <a
                href=" https://jaipur.manipal.edu/muj/news-events/events-list/STUDENT-IDEA-CHALLENGE-2023.html"
              >
                STUDENT IDEA CHALLENGE 2023
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="mid">
        <h1>CULTRAL EVENTS</h1>
      </div>
      <div class="cultral">
        <div class="img">
          <div id="head2">
            <h1>CULTRAL EVENTS</h1>
          </div>
        </div>
        <div class="tech5">
          <div class="item2">
            <div class="list2">
              <div class="heading">
                <h2>23 March<br /><span> 2023</span></h2>
              </div>
            </div>
            <div class="list3">
              <h3>Utophia</h3>
              <p>
                <b>Description:</b>The Department of Journalism and Mass
                Communication brings you a cultural event Utopia! With our theme
                being RETRO DISCO, we bring you an afternoon filled with dance,
                music, and open-mic performances
              </p>
              <a
                href="https://jaipur.manipal.edu/muj/news-events/events-list/utopia-.html"
                >UTOPHIA'23</a
              >
            </div>
          </div>

          <div class="item3">
            <div class="list2">
              <div class="heading">
                <h2>11 Aug<br /><span> 2023</span></h2>
              </div>
            </div>
            <div class="list3">
              <h3>Harmony Within: Healing Rhythms of Indian Classical Dance</h3>
              <p>
                <b>Description:</b>Department of Psychology in collaboration
                with Department of Data Science and Engineering organise An
                Interactive Session on Harmony Within: Healing Rhythms of Indian
                Classical Dance dated 11 August 2023..
              </p>
              <a
                href=" https://jaipur.manipal.edu/muj/news-events/events-list/harmony-within--healing-rhythms-of-indian-classical-dance.html"
                >Harmony within
              </a>
            </div>
          </div>

          <div class="item3">
            <div class="list2">
              <div class="heading">
                <h2>30 Nov<br /><span> 2023</span></h2>
              </div>
            </div>
            <div class="list3">
              <h3>
                9TH MANIPAL RANKA INTERNATIONAL MOOT COURT COMPETITION - 2023
              </h3>
              <p>
                <b>Description:</b>It gives us immense pleasure to announce that
                the Faculty of Law, Manipal University Jaipur is organising its
                9th Manipal Ranka International Moot Court Competition - 2023 in
                association with the Ranka Public Charitable Trust.
              </p>
              <a
                href="https://www.amity.edu/jaipur/event-detail-normal.aspx?Event=13452 "
                >International moot court competition
              </a>
            </div>
          </div>
          <div class="item3">
            <div class="list2">
              <div class="heading">
                <h2>22-24 Feb<br /><span> 2024</span></h2>
              </div>
            </div>
            <div class="list3">
              <h3>Leadership Summit 4.0</h3>
              <p>
                <b>Description:</b>The event is an annual marquee event at
                Manipal University Jaipur, that resonates with MUJ's vision of
                Leadership and Excellence.
              </p>
              <a
                href=" https://jaipur.manipal.edu/muj/news-events/events-list/MUJ-Industry-Leadership-Summit.html"
                >Leadership Summit 4.0
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="last">
        <h1>SEMINARS SESSIONS</h1>
      </div>
      <div class="seminar">
        <div class="img">
          <div id="head3">
            <h1>SEMINARS</h1>
          </div>
        </div>
        <div class="tech5">
          <div class="item1">
            <div class="list2">
              <div class="heading">
                <h2>19 April<br /><span> 2023</span></h2>
              </div>
            </div>
            <div class="list3">
              <h3>
                Academia Industry Symbiotic Alliance Linkedin 101: Mastering the
                basics for Career Success
              </h3>
              <p>
                <b> Description:</b> Department of Physics in association with
                Directorate of Alumni Relation organizing Academia Industry
                Symbiotic Alliance "Linkedin 101: Mastering the basics for
                Career Success" by Er. Vibhor.
              </p>
              <a
                href="https://jaipur.manipal.edu/muj/news-events/events-list/linkedin-101--mastering-the-basics-for-career-success.html "
                >Alumunus meet
              </a>
            </div>
          </div>

          <div class="item3">
            <div class="list2">
              <div class="heading">
                <h2>4 July<br /><span> 2023</span></h2>
              </div>
            </div>
            <div class="list3">
              <h3>Webinar / Guest Lecture on Career Counselling</h3>
              <p>
                <b>Description:</b>Department of Arts School of Humanities &
                Social Sciences Organises Webinar/ Guest Lecture on Career
                Counselling.
              </p>
              <a
                href="https://jaipur.manipal.edu/muj/news-events/events-list/career-counselling.html"
                >Career Counselling</a
              >
            </div>
          </div>

          <div class="item2">
            <div class="list2">
              <div class="heading">
                <h2>28 March<br /><span> 2024</span></h2>
              </div>
            </div>
            <div class="list3">
              <h3>st International Conference on Sensors and Microsystems</h3>
              <p>
                <b>Description:</b> The 1st International Conference on Sensors
                and Microsystems (ICSM - 2024) aims to bring together
                academicians, researchers, scientists, professionals, and
                students to exchange and share their experiences and research
                results towards design and implementation of sensors and
                microsystems.
              </p>
              <a
                href="https://jaipur.manipal.edu/muj/news-events/events-list/International-conference-sensors-and-microsystems.html"
                >International conference-2024</a
              >
            </div>
          </div>

          <div class="item3">
            <div class="list2">
              <div class="heading">
                <h2>29 March<br /><span> 2024</span></h2>
              </div>
            </div>
            <div class="list3">
              <h3>
                FIRST International Conference on Multidisciplinary Approaches
                for Sustainable Development in Science & Technology
              </h3>
              <p>
                <b>Description:</b>School of Electrical, Electronics &
                Communication Engineering and School of Business & Commerce
                (SBC) organizing 1st International Conference on
                Multidisciplinary Approaches for Sustainable Development in
                Science & Technology.
              </p>
              <a
                href="https://jaipur.manipal.edu/muj/news-events/events-list/MASDST-2024.html"
              >
                International conference for sustainable development</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
