<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="state.css" />
    <title>STATE WEBPAGE</title>
  </head>
  <body>
    <div class="heading">
      <div class="icon">
        <img src="rajicon2.png" alt="" />
      </div>

      <div class="head">
        <h2>RAJASTHAN</h2>
      </div>

      <div class="icon2">
        <img src="rajicon4.png" alt="" />
      </div>
    </div>
    <div class="products">
      <div class="products2">
        <div class="item1">
          <a href="./bitspilani.html" target="_blank"
            ><img src="bitspilani.webp" alt=""
          /></a>
          <a href="#">BITS PILANI</a>

          <div class="img2">
            <button class="btn1" title="TECH EVENTS">
              <a href="./bitspilani.html#head1" target="_blank"
                ><img src="laptop.png" alt=""
              /></a>
            </button>
            <button class="btn2" title="CULTRAL EVENTS">
              <a href="./bitspilani.html#head2" target="_blank"
                ><img src="cultralicon.png" alt=""
              /></a>
            </button>
            <button class="btn" title="SEMINARS">
              <a href="./bitspilani.html#head3" target="_blank"
                ><img src="seminar.jpeg" alt=""
              /></a>
            </button>
          </div>
        </div>
        <div class="item1">
          <a href="./iitjodhpur.html" target="_blank"
            ><img src="iitjodhpur.jpg" alt=""
          /></a>
          <a href="#">IIT JODHPUR</a>
          <div class="img2">
            <button class="btn1" title="TECH EVENTS">
              <a href="./iitjodhpur.html#head1" target="_blank"
                ><img src="laptop.png" alt=""
              /></a>
            </button>
            <button class="btn2" title="CULTRAL EVENTS">
              <a href="./iitjodhpur.html#head2" target="_blank"
                ><img src="cultralicon.png" alt=""
              /></a>
            </button>
            <button class="btn" title="SEMINARS">
              <a href="./iitjodhpur.html#head3" target="_blank"
                ><img src="seminar.jpeg" alt=""
              /></a>
            </button>
          </div>
        </div>
        <div class="item1">
          <a href="./mnit.html"><img src="mnitj.jpeg" alt="" /></a>
          <a href="#">MNIT JAIPUR</a>
          <div class="img2">
            <button class="btn1" title="TECH EVENTS">
              <a href="./mnit.html#head1" target="_blank"
                ><img src="laptop.png" alt=""
              /></a>
            </button>
            <button class="btn2" title="CULTRAL EVENTS">
              <a href="./mnit.html#head2" target="_blank"
                ><img src="cultralicon.png" alt=""
              /></a>
            </button>
            <button class="btn" title="SEMINARS">
              <a href="./mnit.html#head3" target="_blank"
                ><img src="seminar.jpeg" alt=""
              /></a>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="products">
      <div class="products2">
        <div class="item1">
          <a href="./event.html"><img src="lnmiit.jpeg" alt="" /></a>
          <a href="#">LNMIIT JAIPUR</a>
          <div class="img2">
            <button class="btn1" title="TECH EVENTS">
              <a href="./event.html#head1" target="_blank"
                ><img src="laptop.png" alt=""
              /></a>
            </button>
            <button class="btn2" title="CULTRAL EVENTS">
              <a href="./event.html#head2" target="_blank"
                ><img src="cultralicon.png" alt=""
              /></a>
            </button>
            <button class="btn" title="SEMINARS">
              <a href="./event.html#head3" target="_blank"
                ><img src="seminar.jpeg" alt=""
              /></a>
            </button>
          </div>
        </div>

        <div class="item1">
          <a href="./muj.html"><img src="manipal.jpg" alt="" /></a>
          <a href="#">MANIPAL JAIPUR</a>
          <div class="img2">
            <button class="btn1" title="TECH EVENTS">
              <a href="./muj.html#head1" target="_blank"
                ><img src="laptop.png" alt=""
              /></a>
            </button>
            <button class="btn2" title="CULTRAL EVENTS">
              <a href="./muj.html#head2" target="_blank"
                ><img src="cultralicon.png" alt=""
              /></a>
            </button>
            <button class="btn" title="SEMINARS">
              <a href="./muj.html#head3" target="_blank"
                ><img src="seminar.jpeg" alt=""
              /></a>
            </button>
          </div>
        </div>
        <div class="item1">
          <a href="./amity.html"><img src="amity.jpg" alt="" /></a>
          <a href="#">AMITY UNIVERSITY</a>
          <div class="img2">
            <button class="btn1" title="TECH EVENTS">
              <a href="./amity.html#head1" target="_blank"
                ><img src="laptop.png" alt=""
              /></a>
            </button>
            <button class="btn2" title="CULTRAL EVENTS">
              <a href="./amity.html#head2" target="_blank"
                ><img src="cultralicon.png" alt=""
              /></a>
            </button>
            <button class="btn" title="SEMINARS">
              <a href="./amity.html#head3" target="_blank"
                ><img src="seminar.jpeg" alt=""
              /></a>
            </button>
          </div>
        </div>
      </div>
      <div class="products">
        <div class="products2">
          <div class="item1">
            <a href="./jecrc.html"><img src="jecrc.jpeg" alt="" /></a>
            <a href="#">JECRC UNIVERSITY</a>

            <div class="img2">
              <button class="btn1" title="TECH EVENTS">
                <a href="./jecrc.html#head1" target="_blank"
                  ><img src="laptop.png" alt=""
                /></a>
              </button>
              <button class="btn2" title="CULTRAL EVENTS">
                <a href="./jecrc.html#head2" target="_blank"
                  ><img src="cultralicon.png" alt=""
                /></a>
              </button>
              <button class="btn" title="SEMINARS">
                <a href="./jecrc.html#head3" target="_blank"
                  ><img src="seminar.jpeg" alt=""
                /></a>
              </button>
            </div>
          </div>
          <div class="item1">
            <a href="./jiet.html"><img src="jiet.webp" alt="" /></a>
            <a href="#">JIET JODHPUR</a>
            <div class="img2">
              <button class="btn1" title="TECH EVENTS">
                <a href="./jiet.html#head1" target="_blank"
                  ><img src="laptop.png" alt=""
                /></a>
              </button>
              <button class="btn2" title="CULTRAL EVENTS">
                <a href="./jiet.html#head2" target="_blank"
                  ><img src="cultralicon.png" alt=""
                /></a>
              </button>
              <button class="btn" title="SEMINARS">
                <a href="./jiet.html#head3" target="_blank"
                  ><img src="seminar.jpeg" alt=""
                /></a>
              </button>
            </div>
          </div>
          <div class="item1">
            <a href="./nims.html"></a><img src="nims.webp" alt="" />
            <a href="#">NIMS UNIVERSITY</a>
            <div class="img2">
              <button class="btn1" title="TECH EVENTS">
                <a href="./nims.html#head1" target="_blank"
                  ><img src="laptop.png" alt=""
                /></a>
              </button>
              <button class="btn2" title="TECH EVENTS">
                <a href="./nims.html#head2" target="_blank"
                  ><img src="cultralicon.png" alt=""
                /></a>
              </button>
              <button class="btn" title="SEMINARS">
                <a href="./nims.html#head3" target="_blank"
                  ><img src="seminar.jpeg" alt=""
                /></a>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
